<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品管理系统</title>
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">

    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src='/easyui/init.js'></script>
    <style>
        body {
            overflow-x: hidden;
            overflow-y : hidden;
        }
    </style>
    <script type="text/javascript">
        var _menus = {
            "menus": [
                 {
                     "menuid": "1", "icon": "icon-16", "menuname": "收费管理", "selected": false,
                     "menus": [{ "menuname": "收费登记", "icon": "icon-nav", "url": "http://www.16sucai.com" },
                             { "menuname": "收费查询", "icon": "icon-add", "url": "demo.html" }
                     ]
                 }, {
                     "menuid": "2", "icon": "icon-13", "menuname": "综合检测", "selected": false,
                     "menus": [{ "menuname": "车辆登录", "icon": "icon-nav", "url": "/maint/regcheck" },
                             { "menuname": "上线检测", "icon": "icon-add", "url": "demo.html" },
                             { "menuname": "车辆复检", "icon": "icon-users", "url": "demo2.html" },
                             { "menuname": "检验结果", "icon": "icon-role", "url": "demo2.html" },
                             { "menuname": "检验退办", "icon": "icon-log", "url": "demo.html" }
                     ]
                 }, {
                     "menuid": "8", "icon": "icon-19", "menuname": "车辆管理", "selected": false,
                     "menus": [{ "menuname": "添加车辆", "icon": "icon-nav", "url": "/car/regcar" },
                             { "menuname": "车辆查询", "icon": "icon-nav", "url": "/car/list" }
                     ]
                 }, {
                     "menuid": "56", "icon": "icon-role", "menuname": "参数设置", "selected": false,
                     "menus": [{ "menuname": "企业信息", "icon": "icon-nav", "url": "demo1.html" },
                             { "menuname": "用户管理", "icon": "icon-role", "url": "demo2.html" },
                             { "menuname": "角色管理", "icon": "icon-role", "url": "demo2.html" },
                             { "menuname": "参数设置", "icon": "icon-role", "url": "demo2.html" },
                             { "menuname": "检测项目", "icon": "icon-nav", "url": "demo2.html" },
                             { "menuname": "检测线设置", "icon": "icon-nav", "url": "/param/jcxlist" }
                     ]
                 }, {
                     "menuid": "100", "icon": "icon-18", "menuname": "系统管理", "selected": false,
                     "menus": [{ "menuname": "菜单管理", "icon": "icon-nav", "url": "/menu/list" },
                             { "menuname": "用户管理", "icon": "icon-users", "url": "/main/user_list" },
                             { "menuname": "角色管理", "icon": "icon-role", "url": "/main/role_list" },
                             { "menuname": "检验机构", "icon": "icon-set", "url": "/main/jyjg_list" },
                             { "menuname": "密码修改", "icon": "icon-log", "url":"/login/uppwd" }
                     ]
                 }
            ]
        };
// 实例化树菜单
		// $("#tree").tree({
		// 	data:_menus,
		// 	lines:true,
		// 	onClick:function(node){
		// 		if(node.attributes){
		// 			openTab(node.text,node.attributes.url);
		// 		}
		// 	}
		// });

        
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" split="true" border="false" style="overflow: hidden; height: 60px;
        background:  #7f99be repeat-x center 50%;
        line-height: 60px;color: #fff; font-family: Verdana, 微软雅黑,黑体">

        <span style="float:right; padding-right:20px;" class="head">欢迎回来 {{.nick}} <a href="/login/uppwd" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>
        <span style="padding-left:10px; font-size: 16px; "><img src="/images/logo.png" width="40" height="40" align="absmiddle" />商品管理系统</span>



    </div>
    <div data-options="region:'west',split:true,title:'功能菜单',collapsible:false" style="width:190px;">
        <div class="easyui-accordion" fit="true" border="false">
        <!-- <ul id="tree"></ul> -->

        </div>



    </div>
    <div data-options="region:'south',border:false" style="height: 30px; background: #D2E0F2;display:none;">

        <div class="footer" style="float:left;padding-left:5px;padding-top:5px;">By 龙翔技术有限公司 V0.1</div>
    </div>
    <div data-options="region:'center'" style="background: #eee; overflow-y:hidden">

        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">

                <h1>Welcome to jQuery UI!</h1>

            </div>
        </div>

    </div>
</body>
</html>